
@import "./style-guide.css";




/* burger + nav */


.menu-btn {
    position: absolute;
    z-index: 3;
   right: 40px;
   top: 40px;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    .menu-btn .btn-line {
      width: 30px;
      height: 3px;
      margin-bottom: 4px;
      background: white;
      transition: all 0.5s ease-out; }
      .menu-btn .btn-line:nth-child(3){
        margin-bottom:0;

      }

    .menu-btn.close {

      transform: rotate(180deg);

     }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(4.95px, 4.95px);
        background:  var(--charcoal-grey);

    }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(4.95px, -4.95px);
        background:  var(--charcoal-grey);
    }

  .menu {
    max-width:1920px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 405px;
    width: 29.65%;
    height: 100vh;
    background: white;
    visibility: hidden; }
    .menu.show {
      visibility: visible; }
    .menu-nav {
      display: flex;
      flex-flow: column wrap;

      width: 100%;
      margin: 0;
      padding: 0;

      list-style: none;
      overflow: hidden; }
    .menu {

      transform: translate3d(0, -100%, 0);
      transition: all 0.5s ease-out; }
      .menu.show {
        transform: translate3d(0, 0, 0); }

    .menu .nav-item {
        width: fit-content;
      transform: translate3d(600px, 0, 0);
      transition: all 0.5s ease-out; }
      .menu .nav-item.show {
        transform: translate3d(0, 0, 0); }
      .menu .nav-item.current > a {
        font-weight: 900; }
    .menu .nav-link {

      display: inline-block;
      position: relative;
      font-size: 30px;
        font-weight: 500;
        line-height: 2;
      /* padding: 1rem 0; */
      margin-right:42px;
      color: var(--charcoal-grey);
      text-decoration: none;
      transition: all 0s ease-out; }
      .menu .nav-link:hover {
        font-weight: 900;

     }

  .nav-item:nth-child(1) {
    margin-top:112px;
    transition-delay: 0.1s; }

  .nav-item:nth-child(2) {
    transition-delay: 0.2s; }

  .nav-item:nth-child(3) {
    transition-delay: 0.3s; }

  .nav-item:nth-child(4) {
    transition-delay: 0.4s; }


    .bottom-nav{
        margin: auto 42px 0 42px;
        width: 100%;
        height: 109px;

 border-top: 1px  solid var(--charcoal-grey);
 display: flex;

    }

    .bottom-nav>a{
        text-decoration: none;

    }
    .bottom-nav>a{
        margin-top: 36px;
    }

    .bottom-nav>a:nth-child(2){
width: 13px;
margin-right: 31px;
margin-left: auto;
    }
    .bottom-nav>a:nth-child(2){
        margin-left: auto;
    }
    .bottom-nav>a:nth-child(3){
    margin-top:40px;
    font-size: 20px;
  font-weight: 500;
    }
    .bottom-nav>a:nth-child(4){

        margin-right:15px;

    }


body {
    font-family: 'atlas';

    margin: 0;
    direction: rtl;
}


#search::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: 'atlas';

    color: white;
}

#search::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'atlas';

    color: white;
}

#search:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'atlas';

    color: white;
}

#search:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'atlas';

    color: white;
}

::-moz-placeholder {
    opacity: 1;
}

.header{
    max-width:1920px;
    margin: 0 auto;
    transition: background-color 0.2s ease;
    position: fixed;
    z-index: 2;
    top:0;
    width: 100%;
    background-color: transparent;
    display: flex;
    height: 96px;
}



#search{
    transition: all .2s ease-in-out;
    border: 0;
    padding: 7px 0;
    background-color: transparent;
    border-bottom: 1px white solid;
    color: white;
    font-family: 'atlas' !important;
    width: 20.2%;
    margin: auto 30px auto auto;

}
#cart{
    height: 100%;
    margin: auto 100px auto 30px;
}

#search-icon{
    height: 100%;
    margin: auto 0;

}



#logo{

    margin:auto  auto  auto 40px;
    /* filter: brightness(0) saturate(100%) invert(12%) sepia(11%) saturate(800%) hue-rotate(196deg) brightness(103%) contrast(88%); */
}




#logo2, .mobile-search{
    display: none;
}




/* WHITE HEADER */

  /* svg icons header */
  .icons-white>svg >g > g >{
    stroke: var(--white-two);
}

.icons-header >svg:hover > g>g{
    stroke: var(--white-two-30);

}
  .icons-header-black>svg >g>g{
      stroke: var(--charcoal-grey);
  }
  .icons-header-black>svg:hover >g>g{
    stroke: var(--cloudy-blue);
  }
.icons-header-black{
    background-color:var(--white-two);
}

  .menu-btn:hover>.btn-line{
    background: var(--white-two-30);
  }
  .icons-header-black>.menu-btn>.btn-line{
      background:var(--charcoal-grey);
  }
  .icons-header-black>.menu-btn:hover>.btn-line{
      background:var(--cloudy-blue);
  }
  .icons-header-black>#logo>g>path{
      fill:var(--charcoal-grey);
  }
.icons-header-black>#search{
    border-color: var(--charcoal-grey);
    color: var(--charcoal-grey);
}

.icons-header-black>#search::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: 'atlas';

    color:var(--charcoal-grey);
}

.icons-header-black>#search::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'atlas';

    color: var(--charcoal-grey);
}

.icons-header-black>#search:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'atlas';

    color: var(--charcoal-grey);
}

.icons-header-black>#search:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'atlas';

    color: var(--charcoal-grey);
}
@media only screen and (max-width: 765px) {

#search{
    display: none;
}

#logo{
    margin-right: auto;
    margin-left: 6.67vw;
    width: 118px;
}

#logo2{
    height: auto;
    display: block;
    position: absolute;
    width: 118px;
    top: calc(6.67vw - 3px);
    left: 6.67vw;
}
#cart{
    height: 20px;
    margin: auto 17.62vw auto 18px;
}
#search-icon{
    height:  20px;
}
.header{
    height: 51px;
}

.bottom-nav {

    margin: auto 6.67vw 0 6.67vw;
}

.menu {
    min-width: 100%;
}
.menu .nav-link{
    margin: 0;
    width: fit-content;

    font-size: 20px;
    line-height: 3;
}
.menu .nav-item {
    width: 100%;
    text-align: center;
}

.nav-item:nth-child(1) {
    margin-top:134px;
}

.menu-btn{
    right:  6.67vw;
top: 20px;
}


.menu-btn.close{
    position: absolute;
    top:  6.67vw;
    right:  6.67vw;
}


.menu-btn .btn-line {
    width: 20px;
    height: 2px;
    margin-bottom: 3px;
}

.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(3.536px, 3.536px);


}

.menu-btn .btn-line:nth-child(3){
    margin: 0;
}
  .menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(3.536px, -3.536px) ;


}


.mobile-search{
    height: 40px;
   width: 100% ;
margin:65px 6.67vw 0 6.67vw;
border-top: 1px black solid;
border-bottom: 1px black solid;
display: none;
}
 #mobile-search{
     border: 0;
     margin: auto 0;
     padding: 5px 0;
     font-family: 'atlas';
     width: 100%;
 }
 .mobile-search>svg{
     margin: auto 7px auto 9px;

}
.mobile-search>svg>g{
    stroke:black;
}

.bottom-nav > a > svg{
    height: 22px;
}
.bottom-nav>a:nth-child(3){
    font-size: 15px;
    margin-top: 38px;
}
}




/* extra state classes */




/* OPEN SEARCH */
#search:focus, #search:-webkit-autofill {

    border: 0;
    outline: 0;
    background: white;
    padding: 11px;
    color: var(--charcoal-grey);
}














