@import "./fonts.css";


:root {
    --charcoal-grey: #2a2b33;
}

* {
    box-sizing: border-box;
}

body {

max-width: 1920px;

    font-family: 'atlas';
    margin: 0 auto;
    direction: rtl;
    /* overflow: hidden; */
}

.page-hero {
    max-height:593.08px;
    height: 30.89vw;
    width: 100%;
    background-image: url("../img/our-story/hero.jpg");
    position: relative;
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;

}

.page-hero:before {
    height: auto;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .1);
}

.page-hero>h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: white;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-nav {

    height: 5.42vw;
    line-height: 5.42vw;
}

.inner-nav>p {

    margin: 0 7.5%;
}

.welcome,.crew{

    margin: 0 auto 100px auto;
    width:100%;
    display: flex;
    padding:0 7.5%;
    /* margin-bottom: 7.32vw; */
    justify-content: space-between;

}

.welcome{
    max-width: calc(1161.124px + 15%);
    /* height: 42.61vw;
    max-height: 818.11px; */
}


.text{
   /* padding-right: 5.56vw; */
    /* padding-left: 8vw; */
width: 500px;
 }
 /* .text > p{
     max-width: 702px;
     width:36.6vw;
 } */



 #img{
     width: 100%;
     max-width: 1920px;
     margin-bottom: 5.12vw;
     height: 100%;
 }



 .crew-txt2 >h3 ,.crew-txt1 >h3 , .text>h2{
    font-size: 30px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 2.05vw;
}
.crew-txt2 > p, .crew-txt1 > p, .text>p{
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
}
 .crew-txt1,  .crew-txt2{
     /* padding-left:15.81vw; */
width:31.84vw ;
max-width: 611px;
 }




 .crew-txt1 > p{
/* width:31.84vw; */
 }
 .crew-txt2 > p{
/* width: 32.36vw; */
 }

 #img-mobile{
     display: none;
 }

 @media only screen and (max-width: 1250px) {



    #img{

        margin: 50px 0;
    }

    .page-hero {

        height: 57.78vw;
        margin-bottom: 38px;
    }



    .page-hero>h1 {
        font-size: 35px;
        margin: 0;
    }

    .welcome > img{
        display: none;
    }
.text{
   padding: 0;
   width: 100%;
}

    #img-mobile{
        display: inline-block;
        width: 100%;
        padding: 40px 12vw 50px 12vw;

    }

    .welcome{


        padding: 0 ;
width: 88.89%;
margin: 0 auto;
        text-align: center;


    }

    .text>h2{
        font-size: 20px;
        margin-bottom: 25px;
    }
    .crew-txt1>h3,.crew-txt2>h3{
        font-size: 20px;
    }

    .text>p, .crew-txt1>p, .crew-txt2>p{
        font-size: 15px;
        line-height: 1.33;
        width: 100%;
       margin: auto;
    }
.crew-txt1{
    width: 50%;
}
.crew-txt2{
    width: calc(50% - 5.81vw);
}
    .inner-nav{
        display :none;
        padding: 0;
    }
 }

 @media only screen and (max-width: 767px) {

    #img-mobile{
        padding: 40px 30px 50px 30px;}
    .text>p{
        font-size: 15px;
    }

    .crew{
        display :none;
        padding: 0;
    }

    .page-hero>h1 {
        font-size: 25px;}
}