@import "./fonts.css";

:root {
    --charcoal-grey: #2a2b33;
}

* {
    box-sizing: border-box;
}

body {

    max-width:1920px;
    margin: 0 auto !important;
    font-family: 'atlas' !important;
    color: var(--charcoal-grey);
    direction: rtl;

}

.inner-nav {

    height: 5.42vw;
    line-height: 5.42vw;
}

.inner-nav>p {

    margin: 0 7.5%;
}
img, #link > img{
    height: 15px;
    width: 15px;
    background-color: red;
}
.services-wrapper
 {

     width: 85%;
     margin: 0 7.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--charcoal-grey);
  }

  .services, .holder{

      width: 38vw;
      max-width: 730px;
      display: flex;
      flex-direction: column;
  }
  .services {  border-top: 1px solid var(--charcoal-grey); }

  .img2, .img1 {

    width:42.46vw ;
    max-width: 815px;
     height: auto;
     margin-bottom: 28px;
}
.img2{
    margin-bottom: 56px;
}


.services>h1{
font-weight: 900;
font-size: 30px;
margin: 45px 0 40px 0;
}

.services>p{
    font-size: 20px;
    line-height: 1.2;
}




/* FORM */

form > p {
    margin: 20px 0 8px 0;
    font-size: 20px;
}

   /* dont forget to change place holder style */
   #count::-webkit-inner-spin-button {
    display: none;
}



.counter-wrapper {
    display: flex;
}


#minus,
#count,
#plus {
    font-family: 'atlas';
    width: 38px;
    border: 1px #999 solid;
    border-radius: 0;
    background: white;
    color: var(--charcoal-grey);;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#count {
    padding: 6px 12px;

}


#minus {
    margin-right: -1px;

}

#plus {
    margin-left: -1px;
}
#submit{
    font-family: 'atlas';
        width: 118px;
        height: 37px;
        object-fit: contain;
        margin: 0;
        color: white;
border: 0;
border-radius: 0;
background: var(--charcoal-grey);
font-size: 20px;
line-height: 1.15;
}


form{
    display: flex;
}

.share, #link{
    font-size: 20px;
}
#link{
    color: #999;
    text-decoration: none;
    margin-bottom: 13px;
    line-height: 1.15;

    font-weight: 700;
}


.products-sugested{
    width: 85%;
    margin: 0 7.5% 100px 7.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

h2{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 100px 0 40px 0;
}
.sugested-product{
    max-width: 520px;
    width: 27.09vw;


}
.sugested-product > img{

    width: 100%;
    height: auto;

}
.sugested-product >h3 ,.sugested-product >p{

   font-size: 20px;
   font-weight: 700;
   line-height: 1.15;
   margin: 17px 0 12px 0;
}

.sugested-product >p{
    font-weight: 500;
    margin: 0;
}

.sugested-product > button{
    margin-top: 21px;
}

.details {
    border: 0;
        border-radius: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
line-height: 1;
    font-family : inherit;
    font-size: 16px;

    color: #999;

    border-bottom: 1px solid #999;
}

.details>svg{
    margin-bottom: 2px;
}


.slideshow-container, .dots, .wrapper-swiper{
    display: none;
}
@media only screen and (max-width: 767px){


    .slideshow-container, .dots, .wrapper-swiper{
        display: block;
    }
    .mySlides, .inner-nav, .holder, .img1, .img2, #link, .products-sugested {
        display: none
    }

    .mySlides>img {
        vertical-align: middle;
        height: 38.28vh;
        width: 100%;
    }




    /* The dots/bullets/indicators */
    .dots {
        text-align: center;
        margin: 20px 0 30PX 0;
    }

    .dot {
        cursor: pointer;
        height: 9px;
        width: 9px;
        margin: 0 8px;
        background-color: #c1cedb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }


    .services-wrapper{
       margin: 0 6.67vw;
       border: 0;
    }

    .services {
        border :none;
        width: 100%;
        height: 100%;

    }



    .services>h1{
        font-size: 20px;
        margin:0;
        }

        .services>p{
            font-size: 15px;
            line-height: 1.33;
        }
        .services>p:nth-child(3){
            margin:0;
        }




        /* FORM */

        form > p {
            margin: 25px 0 6px 0;
            font-size: 15px;
        }

           /* dont forget to change place holder style */
           #count::-webkit-inner-spin-button {
            display: none;
        }



        .counter-wrapper {
            display: flex;
        }


        #minus,
        #count,
        #plus {
            font-size: 15px;
        }

        #minus {
            padding-bottom: 5px;
        }


        #submit{
                width: 114px;
                height: 36px;
                margin: 28px 0;
        background: var(--charcoal-grey);
        font-size: 15px;
        }




        .share {
            font-size: 15px;
            height: 70px;
            border-top: solid 1px #eef2f5;
            border-bottom: solid 1px #eef2f5 ;
            DISPLAY: FLEX;
    JUSTIFY-CONTENT: CENTER;
        }
        .share > img , .share > span{
             margin: auto 10px;
        }

        h2{
            font-size: 20px;
            margin: 50px 0 28px 0;
        }
        .sugested-product{
            width: 40.83vw;
        }

        .sugested-product >h3 ,.sugested-product >p{
           font-size: 15px;
           line-height: 1.53;
           margin: 10px 0;
        }

        .sugested-product >p{
            margin: 0;
            font-size: 15px;
        }

        .sugested-product > button{
            margin-top: 12px;
        }

        .details {
            font-size: 13px;
        }

        .details>svg{
            margin-bottom: 1px;
        }

        .swiper-button-prev{
            top: 20.42vw;
            left: 0;
        }
        .swiper-button-next{
            top: 20.41vw;
            right: 0;
        }
        .swiper-button-next:after, .swiper-button-prev:after{
            font-size: 20px;
            color:#000;

        }

        .wrapper-swiper{
            margin-bottom: 50px;
            position: relative;
        }

        .swiper-container{
            margin: 0 6.67vw ;
        }
}